main {
	padding: 30px;
	width: 800px;
	height: 500px;
	margin: auto;
	font-size: 0;

}

.top {
	display: inline-block;
	width: 800px;
	height: 200px;

}

.green {
	background-color: green;
	width: 50%;
	height: 100%;
	border: black solid 1px;
}

.blue {
	background-color: blue;
	width: 50%;
	height: 100%;
	border: black solid 1px;
}

.bottom {
	display: inline-block;
	width: 800px;
	height: 300px;

}


.grey {
	background-color: grey;
	width: 33.33%;
	height: 300px;
	border: black solid 1px;
}

.black {
	background-color: black;
	width: 33.33%;
	height: 300px;
	border: black solid 1px;
}

.yellow {
	background-color: yellow;
	width: 33.33%;
	height: 300px;
	border: black solid 1px;
}
